@mixin app-input-container {
    display: flex;
    align-items: center;
    position: relative;

    label {
        position: absolute;
        top: $borderSize;
        left: $borderSize;
        display: flex;
        align-items: center;
        color: $mediumSecondary;
        background: #fff;
        width: calc(100% - (#{$halfSpaced} * 2) - (#{$borderSize} * 2) );
        border-radius: $corner;
        padding: $halfSpaced;
        text-align: left;
        transition: top, font-size, color, padding;
        transition-duration: $duration;
        cursor: text;
    }

    img {
        display: none;
    }

    .app-input {
        width: 100%;
        text-align: left;
        margin-bottom: $halfSpaced;

        input {
            border: $borderSize solid $lightPrimary;
            border-radius: $corner;
            padding: $halfSpaced;
            width: 100%;
            box-sizing: border-box;
            color: $mediumSecondary;
            background: #fff;
            max-height: 43px;

            &:focus {
                outline-color: $primary;
            }
        }

        span {
            font-size: small;
        }
    }
    
    .app-password-visibility {
        position: absolute;
        top: calc((25% ) / 2);
        right: $halfSpaced;
        cursor: pointer;
        color: $mediumSecondary;
    }

    &.focused {
        label {
            padding: 0 5px;
            top: -10px;
            left: $halfSpaced;
            font-size: small;
            color: $mediumSecondary;
            width: fit-content;
            height: fit-content;
            border-radius: 2px;
        }
    }

    &.error {
        label, * {
            color: $danger;
        }
        input {
            border: $borderSize solid $danger;
        }
    }
}
