$red: 255;
$green: 204;
$blue: 50;

$primary: rgba($red, $green, $blue, 1);
$mediumPrimary: rgba($red, $green, $blue, .5);
$lightPrimary: rgba($red, $green, $blue, .25);
$lighterPrimary: rgba($red, $green, $blue, .05);

$secondary: rgba(10, 10, 10, .9);
$mediumSecondary: rgba(10, 10, 10, .75);
$lighterSecondary: rgba(10, 10, 10, 1);

$danger: rgba(255, 0, 0, 1);
