$red: 0;
$green: 0;
$blue: 0;

$primary: rgba($red, $green, $blue, 1);
$mediumPrimary: rgba($red, $green, $blue, .5);
$lightPrimary: rgba($red, $green, $blue, .25);
$lighterPrimary: rgba($red, $green, $blue, .05);

$secondary: rgba(255, 255, 255, .9);
$mediumSecondary: rgba(255, 255, 255, .75);
$lighterSecondary: rgba(255, 255, 255, 1);

$danger: rgba(255, 0, 0, 1);
